/* 新加样式 */

.tabs {
    overflow: hidden;
    zoom: 1;
}
.tabs-wp .addtabs {
    position:absolute;
    top:1px; right:5px;
}

.tabs-wp {
	width:100%;
	margin:0px;
    position:relative;
}

.tabs li, .tabs1 li{
margin-left:0px;
}
#spec-list {
    position: relative;
    width: 760px;
    height: 38px;
    overflow: hidden;
}

    #spec-list .spec-control1,#spec-list .spec-control2 {
        display: block;
        position: absolute;
        top: 0;
        width: 24px;
        height: 24px;
        top:6px;
    }
    .spec-control1{
    background-image: url(../img/arrl.png);
    background-repeat: round;
}
    .spec-control2 {
    background-image: url(../img/arrr.png);
    background-repeat: round;
    right:10px;
}