div.file-panel {
    -moz-user-select: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 300;
}