/* A hand-written font makes it look so much better. See the attribution below. */
@font-face {
	font-family: HandZH;
	src: url(mao.ttf);
}
@font-face {
	font-family: HandEN;
	src: url(alliewriting__by_pixie_dixie_rulz.ttf);
}

/* The fun part: making it look like a sticky note! .*/
.sticky_notes {
	position: absolute;
	width: 200px;
	height: 180px;
	padding: 1em;
	cursor: move;
	background-color: #FFFFCC; /* light-yellow default */
	/*border: 1px solid #eee272;*/
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.27), 0 0 1em rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.27), 0 0 1em rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.27), 0 0 1em rgba(0, 0, 0, 0.1) inset; 
}

.sticky_notes textarea {
	background-color: #FFFFCC;/* light-yellow default */
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	font-family: HandEN, HandZH;
	font-size: 20px;
}

/* colorful! */
.sticky-yellow { background-color: #FFFFCC; }
.sticky-yellow textarea { background-color: #FFFFCC; }

.sticky-blue { background-color: #6699CC; }
.sticky-blue textarea { background-color: #6699CC; }

.sticky-orange { background-color: #ffa300; }
.sticky-orange textarea { background-color: #ffa300; }

.sticky-green { background-color: #66CC66; }
.sticky-green textarea { background-color: #66CC66; }

.sticky-pink { background-color: #FF99CC; }
.sticky-pink textarea { background-color: #FF99CC; }

.sticky-red { background-color: #CC0033; }
.sticky-red textarea { background-color: #CC0033; }

#sticky_notes_content_proxy {
	position: absolute;
	left: -999px;
	top: -999px;
	border: none;
	font-family: HandEN, HandZH;
	font-size: 20px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.sticky_notes textarea:focus {
	outline: none;
}
.sticky_notes_pointer {
	cursor: pointer;
}